.Bidding-Popup-Container {
    margin-top: 12vw;
    margin-left: 6.25vw;
    position: fixed;
}

.Bidding-Question-Text {
    color: white;
    font-family: American Typewriter, serif;
    font-size: 2vw;
}

.Bidding-Options {
    /*margin-left: 2em;*/
    display: flex;
    justify-content: flex;
}

.Bidding-Pass-Button {
    margin-left: 1em;
    border-radius: 1vw;
    border: 0.4vw solid black;
    background-color: black;
    color: #5e715b;
    transition-duration: 0.4s;
    font-family: Impact, fantasy;
    float: left;
}

.Bidding-Pass-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
}

.Bidding-Input-Bid {
    margin-top: 0.25em;
    margin-left: 0.5em;
    background-color: #5e715b;
    color: white;
    font-family: American Typewriter, serif;
    float: left;
}

.Bidding-Input-Bid::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
  
.Bidding-Input-Bid:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
  
.Bidding-Input-Bid::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.Bidding-Submit-Button {
    margin-left: 0.5em;
    border-radius: 1vw;
    border: 0.4vw solid black;
    background-color: black;
    color: #5e715b;
    transition-duration: 0.4s;
    font-family: Impact, fantasy;
    float: left;
}

.Bidding-Submit-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
}