
/*.Bid-Popup-Body {
    display: flex;
    justify-content: flex;
}

.Button-Format {
    width: 4vw;
    height: 4.8vw;
}

#Pass-Button {
    background-color: black;
    color: #5e715b;
    border-color: black;
    border-radius: 0.5vw;

    font-family: Impact, fantasy;
    font-size: 2vw;
}

.Bid {
    font-family: Impact, fantasy;
    font-size: 2vw;
}

#Submit-Button {
    background-color: black;
    color: #5e715b;
    border-color: black;
    border-radius: 0.5vw;

    font-family: Impact, fantasy;
    font-size: 2vw;
} */

/* fixes bidding option positioning 
.btn-group, .btn-group-vertical {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;

    margin-left: 10em !important;
}

/* pass button 
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    border-color: black !important;
    border-radius: 0.5vw !important;
    background-color: black !important;
    color: #5e715b !important;
    font-family: Impact, fantasy;
}

/* dropdown font 
.btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
    margin-left: 1% !important;

    font-family: Impact, fantasy;
}

/* dropdown colors 
.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    border-color: black !important;
    border-radius: 0.5vw !important;
    background-color: black !important;
    color: #5e715b !important;
}

/* align dropdown items to center 
.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
    right: auto;
    bottom: auto;

    text-align: center !important;
} */