.Card-Image-Align {
    display: flex;
    justify-content: flex;
}

.Player-0-Card {
    width: 6vw;
    height: 10vw;
}

.Player-0-Card-Position {
    position: relative;
    z-index: 2;
    margin-top: 16.5vw;
    margin-left: 12vw;
}

.Player-1-Card {
    width: 6vw;
    height: 10vw;
    transform: rotate(-45deg);
    float: left;
}

.Player-1-Card-Position {
    position: relative;
    z-index: 2;
    margin-top: 8.5vw;
    margin-left: -15.5vw;
}

.Player-2-Card {
    width: 6vw;
    height: 10vw;
    transform: rotate(-25deg);
    float: left;
}

.Player-2-Card-Position {
    position: relative;
    z-index: 2;
    margin-top: 2.5vw;
    margin-left: -0.25vw;
}

.Player-3-Card {
    width: 6vw;
    height: 10vw;
    transform: rotate(25deg);
    float: left;
}

.Player-3-Card-Position {
    position: relative;
    z-index: 2;
    margin-top: 2.5vw;
    margin-left: 1vw;
}

.Player-4-Card {
    width: 6vw;
    height: 10vw;
    transform: rotate(45deg);
    float: left;
}

.Player-4-Card-Position {
    position: relative;
    z-index: 2;
    margin-top: 8vw;
    /*margin-left: -0.25vw;*/
}

.Temporary-Render-0 {
    width: 6vw;
    height: 10vw;
}

.Temporary-Render-1 {
    width: 6vw;
    height: 10vw;
    transform: rotate(-45deg);
    float: left;
}

.Temporary-Render-2 {
    width: 6vw;
    height: 10vw;
    transform: rotate(-45deg);
    float: left;
}

.Temporary-Render-3 {
    width: 6vw;
    height: 10vw;
    transform: rotate(-45deg);
    float: left;
}

.Temporary-Render-4 {
    width: 6vw;
    height: 10vw;
    transform: rotate(-45deg);
    float: left;
}