.Horizontal-Buttons {
    width: 0.01em;
    float: left;
}

.Start-Game-Left-Button {
    margin-left: 22em;
    margin-top: 3em;
    border-radius: 1vw;
    background-color: black;
    color: #5e715b;
    font-size: 2vw;
    padding: 0.5vw 1vw;
    border: 0.4vw solid black;
    width: 20vw;
    transition-duration: 0.4s;
    font-family: impact, fantasy;
}

.Start-Game-Left-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
}

.Start-Game-Right-Button {
    margin-left: 33em;
    margin-top: 3em;
    border-radius: 1vw;
    background-color: black;
    color: #5e715b;
    font-size: 2vw;
    padding: 0.5vw 1vw;
    border: 0.4vw solid black;
    width: 20vw;
    transition-duration: 0.4s;
    font-family: impact, fantasy;
}

.Start-Game-Right-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
}

.Game-Left-Button {
    margin-left: 28em;
    margin-top: 15em;
    border-radius: 1vw;
    background-color: black;
    color: #5e715b;
    font-size: 2vw;
    padding: 0.5vw 1vw;
    border: 0.4vw solid black;
    width: 20vw;
    transition-duration: 0.4s;
    font-family: impact, fantasy;
}

.Game-Left-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
}

.Game-Results-Right-Button {
    margin-left: 33em;
    margin-top: 2em;
    border-radius: 1vw;
    background-color: black;
    color: #5e715b;
    font-size: 2vw;
    padding: 0.5vw 1vw;
    border: 0.4vw solid black;
    width: 20vw;
    transition-duration: 0.4s;
    font-family: impact, fantasy;
}

.Game-Results-Right-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
}