.Body {
    background: #5e715b;
    position: fixed;
    width: 100%;
    height: 100%;
}

.Win-Modal {
    
}

.Page-Title {
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: American Typewriter, serif;
}

.Player-Title {
    position: fixed;
    left: 14vw;
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: Impact, fantasy;
}

.Card-Title {
    position: fixed;
    left: 46vw;
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: Impact, fantasy;
}

.Point-Title {
    position: fixed;
    left: 78vw;
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: Impact, fantasy;
}

.Name-One {
    position: fixed;
    top: 18vw;
    left: 12vw;
    width: 13vw;
    justify-content: center;
    font-size: 30px;
    color: black;
    font-family: American Typewriter, serif;
}

.Name-Two {
    position: fixed;
    top: 25vw;
    left: 12vw;
    width: 13vw;
    justify-content: center;
    font-size: 30px;
    color: black;
    font-family: American Typewriter, serif;
}

.Name-Three {
    position: fixed;
    top: 32vw;
    left: 12vw;
    width: 13vw;
    justify-content: center;
    font-size: 30px;
    color: black;
    font-family: American Typewriter, serif;
}

.Name-Four {
    position: fixed;
    top: 39vw;
    left: 12vw;
    width: 13vw;
    justify-content: center;
    font-size: 30px;
    color: black;
    font-family: American Typewriter, serif;
}

.Name-Five {
    position: fixed;
    top: 46vw;
    left: 12vw;
    width: 13vw;
    justify-content: center;
    font-size: 30px;
    color: black;
    font-family: American Typewriter, serif;
}

.Points-One {
    position: fixed;
    top: 18vw;
    left: 79vw;
    width: 5vw;
    justify-content: center;
    font-size: 30px;
    color: black;
    font-family: American Typewriter, serif;
}

.Points-Two {
    position: fixed;
    top: 25vw;
    left: 79vw;
    width: 5vw;
    justify-content: center;
    font-size: 30px;
    color: black;
    font-family: American Typewriter, serif;
}

.Points-Three {
    position: fixed;
    top: 32vw;
    left: 79vw;
    width: 5vw;
    justify-content: center;
    font-size: 30px;
    color: black;
    font-family: American Typewriter, serif;
}

.Points-Four {
    position: fixed;
    top: 39vw;
    left: 79vw;
    width: 5vw;
    justify-content: center;
    font-size: 30px;
    color: black;
    font-family: American Typewriter, serif;
}

.Points-Five {
    position: fixed;
    top: 46vw;
    left: 79vw;
    width: 5vw;
    justify-content: center;
    font-size: 30px;
    color: black;
    font-family: American Typewriter, serif;
}

.Card-Scroll {
    overflow: hidden;

    /*position: relative;
    width: 12vw;
    height: 5vw;
    overflow-x: 'hidden';
    overflow-y: 'hidden';
    word-wrap: break-word;
    border-style: solid;
    border-width: 2px;
    border-color: red;*/

    /*position: relative;
    width: 12vw;
    height: 5vw;
    overflow-x: 'hidden';
    overflow-y: 'hidden';
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    border-style: dashed;
    border-width: 2px;
    border-color: red;*/
}

/*.Card-Scroll > div {
    width: 50%;
    float: none;
    height: 90%;
    margin: 0 0.25%;
    display: inline-block;
    zoom: 1;
}*/
