.Body {
    background: #5e715b;
    position: fixed;
    width: 100%;
    height: 100%;
}

#Win-Modal {
    
}

#Win-Body-Modal {
    width: auto;
    height: auto;
    background-color: #5e715b;
    font-family: American Typewriter, serif;
}

#Win-Footer-Modal {
    background-color: #5e715b;
    border-top: 0 none;
}

.Win-Close-Button {
    background-color: black;
    color: #5e715b;
    font-family: Impact, fantasy;
    border-radius: 0.8vw;
    border: 0.4vw solid black;
    width: 6vw;
    transition-duration: 0.4s;
}

.Win-Close-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
}

.Page-Title {
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: American Typewriter, serif;
}

.Player-Title {
    position: fixed;
    left: 14vw;
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: Impact, fantasy;
}

.Card-Title {
    position: fixed;
    left: 46vw;
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: Impact, fantasy;
}

.Point-Title {
    position: fixed;
    left: 78vw;
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: Impact, fantasy;
}

.Name-One {
    position: relative;
    width: 13vw;
    margin-top: 28%;
    /*position: relative;
    width: 100vw;
    height: 6vw;
    margin-top: 18%;*/
    /*position: fixed;
    top: 18vw;
    left: 12vw;
    width: 13vw;*/
    justify-content: center;
    font-size: 30px;
    color: black;
    font-family: American Typewriter, serif;
}

.Names {
    position: relative;
    width: 13vw;
    margin-top: 15%;
    /*position: fixed;
    top: 25vw;
    left: 12vw;
    width: 13vw;*/
    justify-content: center;
    font-size: 30px;
    color: black;
    font-family: American Typewriter, serif;
}

.Points-One {
    position: fixed;
    top: 18vw;
    left: 79vw;
    width: 5vw;
    justify-content: center;
    font-size: 30px;
    color: black;
    font-family: American Typewriter, serif;
}

.Points-Two {
    position: fixed;
    top: 25vw;
    left: 79vw;
    width: 5vw;
    justify-content: center;
    font-size: 30px;
    color: black;
    font-family: American Typewriter, serif;
}

.Points-Three {
    position: fixed;
    top: 32vw;
    left: 79vw;
    width: 5vw;
    justify-content: center;
    font-size: 30px;
    color: black;
    font-family: American Typewriter, serif;
}

.Points-Four {
    position: fixed;
    top: 39vw;
    left: 79vw;
    width: 5vw;
    justify-content: center;
    font-size: 30px;
    color: black;
    font-family: American Typewriter, serif;
}

.Points-Five {
    position: fixed;
    top: 46vw;
    left: 79vw;
    width: 5vw;
    justify-content: center;
    font-size: 30px;
    color: black;
    font-family: American Typewriter, serif;
}

.Card-Scroll-First {
    overflow: scroll;
    position: relative;
    width: 100vw;
    height: 6vw;
    margin-top: 18%;
    word-wrap: break-word;
    white-space: nowrap;
}

.Card-Scroll {
    overflow: scroll;
    position: relative;
    width: 100vw;
    height: 6vw;
    margin-top: 4%;
    word-wrap: break-word;
    white-space: nowrap;
}

.Card {
    width: 55px;
    height: 82.5px;
}