.Body {
    background: #5e715b;
    position: fixed;
    width: 100%;
    height: 100%;
}

.Current-Cutting {
    margin-top: 2vw;
    margin-left: 5vw;
    color: black;
    font-size: 2vw;
    width: 12vw;
    font-family: Impact, fantasy;
}

.Current-Cutting-Images {
    margin-top: 1vw;
    margin-left: 7vw;
    width: 6.2vw;
    height: 9.3vw;
}

.Current-Partner {
    margin-top: 2vw;
    margin-left: 5vw;
    color: black;
    font-size: 2vw;
    width: 12vw;
    font-family: Impact, fantasy;
}

.Current-Partner-Images {
    margin-top: 1vw;
    margin-left: 7vw;
    width: 6.2vw;
    height: 9.3vw;
}

.Card-Image-One {
    z-index: 2;
    margin-top: 16vw;
    margin-left: -3vw;
    width: 7.44vw;
    height: 11.16vw;
}

.Card-Image-One:hover {
    z-index: 2;
    width: 7.75vw;
    height: 11.63vw;
}

.Card-Image-Two {
    z-index: 2;
    margin-top: 16vw;
    margin-left: -5vw;
    width: 7.44vw;
    height: 11.16vw;
}

.Card-Image-Two:hover {
    z-index: 2;
    width: 7.75vw;
    height: 11.63vw;
}

.Card-Image-Three {
    z-index: 2;
    margin-top: 16vw;
    margin-left: -5vw;
    width: 7.44vw;
    height: 11.16vw;
}

.Card-Image-Three:hover {
    z-index: 2;
    width: 7.75vw;
    height: 11.63vw;
}

.Card-Image-Four {
    z-index: 2;
    margin-top: 16vw;
    margin-left: -5vw;
    width: 7.44vw;
    height: 11.16vw;
}

.Card-Image-Four:hover {
    z-index: 2;
    width: 7.75vw;
    height: 11.63vw;
}

.Card-Image-Five {
    z-index: 2;
    margin-top: 16vw;
    margin-left: -5vw;
    width: 7.44vw;
    height: 11.16vw;
}

.Card-Image-Five:hover {
    z-index: 2;
    width: 7.75vw;
    height: 11.63vw;
}

.Card-Image-Six {
    z-index: 2;
    margin-top: 16vw;
    margin-left: -5vw;
    width: 7.44vw;
    height: 11.16vw;
}

.Card-Image-Six:hover {
    z-index: 2;
    width: 7.75vw;
    height: 11.63vw;
}

.Card-Image-Seven {
    z-index: 2;
    margin-top: 16vw;
    margin-left: -5vw;
    width: 7.44vw;
    height: 11.16vw;
}

.Card-Image-Seven:hover {
    z-index: 2;
    width: 7.75vw;
    height: 11.63vw;
}

.Card-Image-Eight {
    z-index: 2;
    margin-top: 16vw;
    margin-left: -5vw;
    width: 7.44vw;
    height: 11.16vw;
}

.Card-Image-Eight:hover {
    z-index: 2;
    width: 7.75vw;
    height: 11.63vw;
}

.Card-Image-Nine {
    z-index: 2;
    margin-top: 16vw;
    margin-left: -5vw;
    width: 7.44vw;
    height: 11.16vw;
}

.Card-Image-Nine:hover {
    z-index: 3;
    width: 7.75vw;
    height: 11.63vw;
}

.Card-Image-Ten {
    z-index: 2;
    margin-top: 16vw;
    margin-left: -5vw;
    width: 7.44vw;
    height: 11.16vw;
}

.Card-Image-Ten:hover {
    z-index: 3;
    width: 7.75vw;
    height: 11.63vw;
}

.Table {
    position: fixed;
    z-index: 1;
    margin-top: -8vw;
    margin-left: -3.5vw;
    
    /* position: fixed;
    left: 17.241379vw;
    top: 13.888889vw; */
    /*margin-left: -58.5em;
    margin-top: 6em;*/
}