#Leader-Button {
    margin-left: 29em;
    border-radius: 1vw;
    background-color: black;
    color: #5e715b;
    font-size: 2vw;
    border: 0.4vw solid black;
    width: 6em;
    transition-duration: 0.4s;
    font-family: Impact, fantasy;
    display: inline-block;
}

#Leader-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
}

#Bid-Button {
    margin-left: 19em;
    border-radius: 1vw;
    background-color: black;
    color: #5e715b;
    font-size: 2vw;
    border: 0.4vw solid black;
    width: 6em;
    transition-duration: 0.4s;
    font-family: Impact, fantasy;
    display: inline-block;
}

#Bid-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
}

#Dealer-Button {
    margin-left: 9em;
    border-radius: 1vw;
    background-color: black;
    color: #5e715b;
    font-size: 2vw;
    border: 0.4vw solid black;
    width: 6em;
    transition-duration: 0.4s;
    font-family: Impact, fantasy;
    display: inline-block;
}

#Dealer-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
}