#Leader-Button {
    position: fixed;
    left: 58.62069vw;
    border-radius: 1vw;
    background-color: black;
    color: #5e715b;
    font-size: 2vw;
    border: 0.4vw solid black;
    width: 12vw;
    transition-duration: 0.4s;
    font-family: Impact, fantasy;
    display: inline-block;
}

#Leader-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
}

#Bid-Button {
    position: fixed;
    left: 72.413793vw;
    border-radius: 1vw;
    background-color: black;
    color: #5e715b;
    font-size: 2vw;
    border: 0.4vw solid black;
    width: 12vw;
    transition-duration: 0.4s;
    font-family: Impact, fantasy;
    display: inline-block;
}

#Bid-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
}

#Dealer-Button {
    position: fixed;
    left: 86.206897vw;
    border-radius: 1vw;
    background-color: black;
    color: #5e715b;
    font-size: 2vw;
    border: 0.4vw solid black;
    width: 12vw;
    transition-duration: 0.4s;
    font-family: Impact, fantasy;
    display: inline-block;
}

#Dealer-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
}