.Body {
    background: #5e715b;
    position: fixed;
    width: 100%;
    height: 100%;
}

.Current-Cutting {
    margin-top: 2vw;
    margin-left: 5vw;
    color: black;
    font-size: 2vw;
    width: 12vw;
    font-family: Impact, fantasy;
}

.Current-Cutting-Images {
    margin-top: 1vw;
    margin-left: 7vw;
    width: 6.2vw;
    height: 9.3vw;
}

.Current-Partner {
    margin-top: 2vw;
    margin-left: 5vw;
    color: black;
    font-size: 2vw;
    width: 12vw;
    font-family: Impact, fantasy;
}

.Current-Partner-Images {
    margin-top: 1vw;
    margin-left: 7vw;
    width: 6.2vw;
    height: 9.3vw;
}

.Card-Image-0 {
    margin-top: -2vw;
    margin-left: -2.5vw;
    width: 7.44vw;
    height: 11.16vw;
}

.Card-Image-1 {
    margin-top: -2vw;
    margin-left: -5.5vw;
    width: 7.44vw;
    height: 11.16vw;
}

.Card-Image-2 {
    margin-top: -2vw;
    margin-left: -5.5vw;
    width: 7.44vw;
    height: 11.16vw;
}

.Card-Image-3 {
    margin-top: -2vw;
    margin-left: -5.5vw;
    width: 7.44vw;
    height: 11.16vw;
}

.Card-Image-4 {
    margin-top: -2vw;
    margin-left: -5.5vw;
    width: 7.44vw;
    height: 11.16vw;
}

.Card-Image-5 {
    margin-top: -2vw;
    margin-left: -5.5vw;
    width: 7.44vw;
    height: 11.16vw;
}

.Card-Image-6 {
    margin-top: -2vw;
    margin-left: -5.5vw;
    width: 7.44vw;
    height: 11.16vw;
}

.Card-Image-7 {
    margin-top: -2vw;
    margin-left: -5.5vw;
    width: 7.44vw;
    height: 11.16vw;
}

.Card-Image-8 {
    margin-top: -2vw;
    margin-left: -5.5vw;
    width: 7.44vw;
    height: 11.16vw;
}

.Card-Image-9 {
    margin-top: -2vw;
    margin-left: -5.5vw;
    width: 7.44vw;
    height: 11.16vw;
}

.Table {
    position: relative;
    z-index: 1;
    margin-top: -10vw;
    margin-left: -3.2vw;
    width: 30vw;
    height: 30vw;
    background-color: #391f03;
    border-radius: 80vw;
}

.On-Table {
    z-index: 5;
}

.Table-Bidding-Text {
    position: fixed;
    margin-top: 12vw;
    margin-left: 1vw;
    color: white;
    font-family: American Typewriter, serif;
    font-size: 2vw;
}

.Cards-In-Hand {
    z-index: 2;
}

.Cards-In-Hand:hover  {
    z-index: 3;
    width: 7.75vw;
    height: 11.63vw;
}

.Card-Button {
    background: none;
    border: none;
}