.Body {
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background: #5e715b;
}

.Description {
    font-size: 3vw;
    color: white;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 2%;
    font-family: American Typewriter, serif;
}

.Name-Box {
    margin-top: 2vw;
    margin-left: -1vw;
    width: 40vw;
    height: 4vw;
    background-color: #5e715b;
    border: 0.4vw solid black;
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    font-size: 2vw;
    font-family: Impact, fantasy;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

.Start-Game {
    margin-left: -5%;
    margin-top: 15%;
    border-radius: 1vw;
    background-color: black;
    color: #5e715b;
    font-size: 2vw;
    padding: 0.5vw 1vw;
    border: 0.4vw solid black;
    width: 19vw;
    transition-duration: 0.4s;
    font-family: Impact, fantasy;
}

.Start-Game:hover {
    border-radius: 2vw;
    font-weight: bold;
}

.Logo {
    margin-top: auto;
    margin-left: -4vw;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
}