.Join-Button {
    margin-top: 15%;
    border-radius: 1vw;
    margin-left: 5%;
    background-color: black;
    color: #5e715b;
    font-size: 2vw;
    padding: 0.5vw 1vw;
    border: 0.4vw solid black;
    width: 20vw;
    transition-duration: 0.4s;
    font-family: impact, fantasy;
}

.Join-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
}

#Join-Modal {
    margin-left: 35%;
    width: 30%;
    height: 30%;
}

#Title-Modal {
    font-size: 3vw;
    color: red;
    margin-left: 10%;
}

#Body-Modal {
}

#Input-Box {
    margin-left: 30%;
    width: 11vw;
}
#Footer-Modal {
}

#Join-Button {
    background-color: white;
    width: 7vw;
}

#Join-Button:hover {
    background-color: red;
    color: white;
}

#Cancel-Button {
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    width: 7vw;
}

#Cancel-Button:hover {
    background-color: red;
    color: white;
}