.Join-Button {
    margin-top: 15%;
    border-radius: 1vw;
    margin-left: 5%;
    background-color: black;
    color: #5e715b;
    font-size: 2vw;
    padding: 0.5vw 1vw;
    border: 0.4vw solid black;
    width: 20vw;
    transition-duration: 0.4s;
    font-family: impact, fantasy;
}

.Join-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
}

#Join-Modal {
    margin-left: auto;
    width: auto;
    height: auto;
}

#Join-Header-Modal {
    background-color: #5e715b;
    border-bottom: 0 none;
}

#Join-Title-Modal {
    background-color: #5e715b;
    font-size: 3vw;
    color: black;
    margin-left: 22%;
    font-family: Impact, fantasy;
}

#Join-Body-Modal {
    width: auto;
    height: auto;
    background-color: #5e715b;
    font-family: American Typewriter, serif;
}

#Input-Box {
    margin-left: 30%;
    width: 12vw;
    height: 3vw;
    background-color: #5e715b;
}

#Join-Footer-Modal {
    background-color: #5e715b;
    border-top: 0 none;
}

.Modal-Join-Button {
    background-color: black;
    color: #5e715b;
    font-family: Impact, fantasy;
    border-radius: 0.8vw;
    border: 0.4vw solid black;
    width: 6vw;
    transition-duration: 0.4s;
}

.Modal-Join-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
}

.Modal-Cancel-Button {
    background-color: black;
    color: #5e715b;
    font-family: Impact, fantasy;
    border-radius: 0.8vw;
    border: 0.4vw solid black;
    width: 6vw;
    transition-duration: 0.4s;
}

.Modal-Cancel-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
}   