.Body {
    background: #5e715b;
    width: 100%;
    height: 100%;
}

.Game-Title {
    color: blue;
    margin-left: 15%;
    margin-top: 5%;
}

.Game-Code {
    color: chartreuse;
    margin-left: 15%;
    margin-top: 5%;
}

.Players {
    color: burlywood;
    margin-left: 15%;
    margin-top: 5%;
}

.Players-List {
    color: burlywood;
    margin-left: 15%;
}

.Waiting {
    color: blue;
    margin-left: 15%;
    margin-top: 5%;
}