.Leader-Choice-Popup-Container {
    /*margin-top: 12vw;
    margin-left: 6.25vw;
    position: fixed;*/
}

.Leader-Choice-Question-Text {
    color: white;
    font-family: American Typewriter, serif;
    font-size: 2vw;
}

.Leader-Choice-Options {
    /*margin-left: 2em;*/
    display: flex;
    justify-content: flex;
}

.Cutting-Suit-Input {
    margin-top: 0.25em;
    margin-left: 0.5em;
    width: 8vw;
    height: 2vw;
    background-color: #5e715b;
    color: white;
    font-family: American Typewriter, serif;
}

.Partner-Card-Input {
    margin-top: 0.25em;
    margin-left: 0.5em;
    width: 8vw;
    height: 2vw;
    background-color: #5e715b;
    color: white;
    font-family: American Typewriter, serif;
}

.Leader-Choice-Submit-Button {
    margin-left: 10em;
    border-radius: 1vw;
    border: 0.4vw solid black;
    background-color: black;
    color: #5e715b;
    transition-duration: 0.4s;
    font-family: Impact, fantasy;
}

.Leader-Choice-Submit-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
}