.Game-Ranks-Button {
    margin-left: 39em;
    margin-top: 15em;
    border-radius: 1vw;
    background-color: black;
    color: #5e715b;
    font-size: 2vw;
    padding: 0.5vw 1vw;
    border: 0.4vw solid black;
    width: 20vw;
    transition-duration: 0.4s;
    font-family: impact, fantasy;
}

.Game-Ranks-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
}

.Game-Results-Ranks-Button {
    margin-left: 22em;
    margin-top: 2em;
    border-radius: 1vw;
    background-color: black;
    color: #5e715b;
    font-size: 2vw;
    padding: 0.5vw 1vw;
    border: 0.4vw solid black;
    width: 20vw;
    transition-duration: 0.4s;
    font-family: impact, fantasy;
}

.Game-Results-Ranks-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
}

.Ranks-Modal-Font {
    font-family: American Typewriter, serif;
}

.Game-Ranks-Modal-Container {
    /* centers modal on page */
    position: absolute;
    margin-left: 26em;
    margin-top: -37em;
    background-color: #f97c7c;
    width: 36em;
    height: 25em;
    border: 0.3vw solid black;
    border-radius: 2vw;
    z-index: 0;
}

.Game-Results-Ranks-Modal-Container {
    /* centers modal on page */
    position: absolute;
    margin-left: 16em;
    margin-top: -37em;
    background-color: #f97c7c;
    width: 36em;
    height: 25em;
    border: 0.3vw solid black;
    border-radius: 2vw;
    z-index: 0;
}

.Ranks-Modal-Title {
    padding-top: 0.2em;
    text-align: center;
    font-size: 2.8em;
    color: black;
}

.Rank-Titles {
    font-size: 2vw;
    text-decoration: underline;
}

.Rankings {
    font-size: 1.5vw;
}

.Ranks-Modal-Buttons {
    width: 0.01em;
    float: left;
}

.Ranks-Modal-Continue-Button {
    margin-left: 23em;
    margin-top: 16.5em;
    background-color: black;
    color: #f97c7c;
    font-family: Impact, fantasy;
    border-radius: 0.8vw;
    border: 0.4vw solid black;
    width: 6vw;
    transition-duration: 0.4s;
}

.Ranks-Modal-Continue-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
}

.Ranks-Modal-Cancel-Button {
    margin-left: 29em;
    margin-top: 16.5em;
    background-color: black;
    color: #f97c7c;
    font-family: Impact, fantasy;
    border-radius: 0.8vw;
    border: 0.4vw solid black;
    width: 6vw;
    transition-duration: 0.4s;
}

.Ranks-Modal-Cancel-Button:hover {
    border-radius: 2vw;
    font-weight: bold;
} 