.Body {
    background: #5e715b;
    position: fixed;
    width: 100%;
    height: 100%;
}

.Winner-Text {
    padding-bottom: 0.5vw;
    text-align: center;
    color: white;
    font-family: American Typewriter, serif;
}

.Rows {
    display: flex;
    justify-content: flex;
}

.Title {
    text-align: center; 
    text-decoration: underline;
    color: white;
    font-family: Impact, fantasy;
    font-size: 2.25vw;
    float: left;
}

.Player {
    margin-top: 0.75em;
    text-align: center; 
    color: black;
    font-family: American Typewriter, serif;
    font-size: 2.1vw;
    font-weight: bold;
    float: left;
}

.Card-Scroll {
    overflow: scroll;
    position: relative;
    width: 10em;
    height: 5.5vw;
    margin-left: -1em;
    word-wrap: break-word;
    white-space: nowrap;
}

.Card {
    width: 55px;
    height: 82.5px;
}