.Body {
    background: #5e715b;
    overflow-y: scroll;
}

.titleStyle {
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: American Typewriter, serif;
}

.subtitleStyle {
    font-size: 30px;
    padding-left: 20px;
}

.textStyle {
    font-size: 18px;
}