.Player-Two {
    margin-top: 10vw;
    margin-left: -10vw;
}

.Player-Three {
    margin-top: -7vw;
    margin-left: 2vw;
}

.Player-Four {
    margin-top: -7vw;
    margin-left: 12vw;
}

.Player-Five {
    margin-top: 9.5vw;
    margin-left: 2vw;
}