.Game-Title {
    color: blue;
    margin-left: 15%;
    margin-top: 5%;
}

.Game-code {
    color: blue;
    margin-left: 15%;
    margin-top: 5%;
}

.Players-Title {
    color: blue;
    margin-left: 15%;
    margin-top: 5%;
}

.Players-list {
    color: blue;
    margin-left: 15%;
}

.Waiting-Text {
    color: blue;
    margin-left: 15%;
    margin-top: 5%;
}