.Game-title {
    color: white;
    margin-left: 15%;
    margin-top: 5%;
}

.Game-code {
    color: whitesmoke;
    margin-left: 15%;
    margin-top: 5%;
}

.Players-Title {
    color: whitesmoke;
    margin-left: 15%;
    margin-top: 5%;
}

.Players-list {
    color: white;
    margin-left: 15%;
}

.Waiting-Text {
    color: whitesmoke;
    margin-left: 15%;
    margin-top: 5%;
}

.Start-Game {
    margin-top: 30%;
    border-radius: 1vw;
    margin-left: -10%;
    background-color: black;
    color: #5e715b;
    font-size: 2vw;
    padding: 0.5vw 1vw;
    border: 0.4vw solid black;
    width: 20vw;
    transition-duration: 0.4s;
}

.Start-Game:hover {
    border-radius: 2vw;
    font-weight: bold;
}
