.Body {
    background: #5e715b;
    width: 100%;
    height: 100%;
}

.Game-title {
    color: white;
    margin-left: 15%;
    margin-top: 5%;
    font-family: American Typewriter, serif;
}

.Game-code {
    color: whitesmoke;
    margin-left: 15%;
    margin-top: 5%;
    font-family: American Typewriter, serif;
}

.Players-Title {
    color: whitesmoke;
    margin-left: 15%;
    margin-top: 5%;
    font-family: American Typewriter, serif;
}

.Players-list {
    color: white;
    margin-left: 15%;
    font-family: American Typewriter, serif;
}

.Waiting-Text {
    color: whitesmoke;
    margin-left: 15%;
    margin-top: 5%;
    font-family: American Typewriter, serif;
}
