.Home-Title {
    font-size: 7vw;
    color: white;
    text-align: center;
    margin-bottom: 1%;
}

.Description {
    font-size: 3vw;
    color: white;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 2%;
}

.Start-Game {
    margin-top: 30%;
    border-radius: 1vw;
    margin-left: -10%;
    background-color: black;
    color: #5e715b;
    font-size: 2vw;
    padding: 0.5vw 1vw;
    border: 0.4vw solid black;
    width: 20vw;
    transition-duration: 0.4s;
}

.Start-Game:hover {
    border-radius: 2vw;
    font-weight: bold;
}

.Logo {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
}